<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= food.name %></title>
    <a href="/">Home</a>
    <a href="/foods">Browse LeFoodz</a>
  </head>
  <body>
    <h1>Oh! Very bueno! Here's your <%= food.name %>!</h1>
    <% if (food.isReadyToEat) { %>
        <p>This is edible, Gordon Ramsey is happy!</p>
      <% } else { %>
        <p>I'm sorry Gordon Ramsey, it's raw..</p>
      <% } %>

      <form action="/foods/<%=food._id%>?_method=DELETE" method="POST">
        <button type="submit">Delete <%= food.name %></button>
        <h5>^ Are you sure..? I believe in you for the best food!</h5>

      </form>
      <a href="/foods/<%= food._id %>/edit">Edit <%= food.name %></a>
      <h5>^ Hah! Donut give up!</h5>
</body>
</html>